
<div class="container">

  <header class="header">

    <h1 class="text-center bg-info"><b>Employee Form </b></h1>


    
  </header>
  
  <form [formGroup]="empForm" class="text-center "  >
    <div class="form-group">
      <label><b class="text-dark">Name</b></label>
      <input type="text"  class="form-control" placeholder="Enter your Name" id="name" formControlName="name">
      <span *ngIf="name && name.invalid &&  (name.dirty || name.touched)" class="text-danger">
        <span *ngIf="name.errors?.['required']">Please Enter your name</span>
        <span *ngIf="name.errors?.['pattern']">name is invalid</span>
      </span>
    </div>
  
      <button type="button" class="btn btn-primary" [disabled]="!empForm.valid" (click)="addEmployee()"
        *ngIf="isSave">Save </button>
      <button type="button" class="btn btn-primary" [disabled]="!empForm.valid" (click)="onUpdate()"
        *ngIf="isUpdate">Update </button>
  </form>

  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of storedData; let i = index">
        <td>{{employee.name}}</td>
  
        <td>
          <button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(i)">Delete</button>
          <button type="button" class="btn btn-outline-info" (click)="editEmployee(i)">Edit</button>
        </td>
  
      </tr>
  
    </tbody>
  </table>

</div>

